{
  "openapi": "3.0.3",
  "info": {
    "title": "Go54",
    "description": "GO54 provides a RESTFUL API based on simple HTTP requests.",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://ennov8.com.ng/go54/api"
    }
  ],
  "paths": {
    "/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login",
        "description": "#### Request Parameters:\n\n- **`email`** (string, required, email): The email address of the user.\n- **`password`** (string, required): The user's password.\n- **`otp`** (string, optional, min: 6, max: 6, regex: /^\\[0-9\\]+$/): One-time password (OTP) for two-factor authentication. If provided, it should be a string of 6 digits.\n    \n\n#### Validation Rules:\n\n- **`email`**: Required and must be a valid email address.\n- **`password`**: Required.\n- **`otp`**: Optional, but if provided, it must be a string with a minimum length of 6, a maximum length of 6, and contain only numeric characters.",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "devuser123@wgh.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password"
                  }
                }
              },
              "examples": {
                "Login": {
                  "value": {
                    "email": "devuser123@wgh.com",
                    "password": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "334"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 10 Nov 2023 11:44:28 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "IlUmFdGhRTJYSZBpw01iC9HHrI5fK3en5tHMQBq5e78b8723"
                        },
                        "token_expires": {
                          "type": "string",
                          "example": "2023-11-10T12:12:30.872291Z"
                        },
                        "token_refresh_code": {
                          "type": "string",
                          "example": "f8NGCheN"
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "created_at": {
                              "type": "string",
                              "example": "2023-11-09T19:21:35.000000Z"
                            },
                            "email": {
                              "type": "string",
                              "example": "devuser123@wgh.com"
                            },
                            "email_token": {
                              "nullable": true,
                              "example": null
                            },
                            "email_verified_at": {
                              "nullable": true,
                              "example": null
                            },
                            "first_name": {
                              "type": "string",
                              "example": "Randomer"
                            },
                            "id": {
                              "type": "number",
                              "example": 1
                            },
                            "is_active": {
                              "type": "string",
                              "example": "1"
                            },
                            "last_name": {
                              "type": "string",
                              "example": "Test"
                            },
                            "phone_number": {
                              "type": "string",
                              "example": "+2348099111675"
                            },
                            "roles": {
                              "type": "array",
                              "items": {},
                              "example": []
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2023-11-09T19:21:35.000000Z"
                            },
                            "username": {
                              "nullable": true,
                              "example": null
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Login successful"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Login": {
                    "value": {
                      "code": "200",
                      "data": {
                        "token": "IlUmFdGhRTJYSZBpw01iC9HHrI5fK3en5tHMQBq5e78b8723",
                        "token_expires": "2023-11-10T12:12:30.872291Z",
                        "token_refresh_code": "f8NGCheN",
                        "user": {
                          "created_at": "2023-11-09T19:21:35.000000Z",
                          "email": "devuser123@wgh.com",
                          "email_token": null,
                          "email_verified_at": null,
                          "first_name": "Randomer",
                          "id": 1,
                          "is_active": "1",
                          "last_name": "Test",
                          "phone_number": "+2348099111675",
                          "roles": [],
                          "updated_at": "2023-11-09T19:21:35.000000Z",
                          "username": null
                        }
                      },
                      "message": "Login successful",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register",
        "description": "This endpoint allows users to register in the system by providing the required information.\n\n#### Request Parameters\n\n- **`email`** (string, required, email): The email address of the user.\n- **`firstname`** (string, required, min: 3): The first name of the user.\n- **`lastname`** (string, required, min: 3): The last name of the user.\n- **`phonenumber`** (string, required, min: 10): The phone number of the user.\n- **`password`** (string, required, min: 6): The user's password.\n    \n\n#### Validation Rules\n\n- **`email`**: Required, must be a valid email address, and must be unique in the \"users\" table.\n- **`firstname`**: Required, must be a string, and must have a minimum length of 3 characters.\n- **`lastname`**: Required, must be a string, and must have a minimum length of 3 characters.\n- **`phonenumber`**: Required, must be a string, and must have a minimum length of 10 characters.\n- **`password`**: Required, must be a string, and must have a minimum length of 6 characters",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "adebiyipelumi96@gmail.com"
                  },
                  "firstname": {
                    "type": "string",
                    "example": "Pelumi"
                  },
                  "lastname": {
                    "type": "string",
                    "example": "Test"
                  },
                  "password": {
                    "type": "string",
                    "example": "password"
                  },
                  "phonenumber": {
                    "type": "string",
                    "example": "+2348092111640"
                  }
                }
              },
              "examples": {
                "Register": {
                  "value": {
                    "email": "adebiyipelumi96@gmail.com",
                    "firstname": "Pelumi",
                    "lastname": "Test",
                    "password": "password",
                    "phonenumber": "+2348092111640"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Register",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "224"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 15 Nov 2023 17:36:42 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "created_at": {
                              "type": "string",
                              "example": "2023-11-15T17:36:44.000000Z"
                            },
                            "email": {
                              "type": "string",
                              "example": "adebiyipelumi96@gmail.com"
                            },
                            "email_token": {
                              "type": "string",
                              "example": "pMIuqlpK"
                            },
                            "first_name": {
                              "type": "string",
                              "example": "Pelumi"
                            },
                            "id": {
                              "type": "number",
                              "example": 9
                            },
                            "last_name": {
                              "type": "string",
                              "example": "Test"
                            },
                            "phone_number": {
                              "type": "string",
                              "example": "+2348092111640"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2023-11-15T17:36:44.000000Z"
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Verification otp sent"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Register": {
                    "value": {
                      "code": "200",
                      "data": {
                        "user": {
                          "created_at": "2023-11-15T17:36:44.000000Z",
                          "email": "adebiyipelumi96@gmail.com",
                          "email_token": "pMIuqlpK",
                          "first_name": "Pelumi",
                          "id": 9,
                          "last_name": "Test",
                          "phone_number": "+2348092111640",
                          "updated_at": "2023-11-15T17:36:44.000000Z"
                        }
                      },
                      "message": "Verification otp sent",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/password/reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "ResetPassword",
        "description": "This endpoint allows users to reset their password using a valid password reset token.\n\n#### Request Parameters\n\n- **`token`** (string, required): The password reset token obtained from the system (system sent via email or sms).\n    \n- **`password`** (string, required, confirmed): The new password for the user.\n- **`password_confirmation`** (string, required): Confirmation of the new password.\n    \n\n#### Validation Rules\n\n- **`token`**: Required, must be a string, and must be a valid token sent by the system.\n- **`password`**: Required and must be confirmed (match the `password_confirmation` field).",
        "operationId": "resetpassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "admin123#"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "example": "admin123#"
                  },
                  "token": {
                    "type": "string",
                    "example": "KYEAKBlMzquR"
                  }
                }
              },
              "examples": {
                "ResetPassword": {
                  "value": {
                    "password": "admin123#",
                    "password_confirmation": "admin123#",
                    "token": "KYEAKBlMzquR"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v1/auth/password/forgot": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "ForgotPassword",
        "description": "This endpoint allows users to initiate a password reset by providing their email address.\n\n#### Request Parameters\n\n- **`email`** (string, required, email, exists:users,email): The email address of the user requesting a password reset.\n    \n- **`reset_url`** (string, required, url): The URL where the user will be redirected to reset their password.\n    \n\n#### Validation Rules\n\n- **`email`**: Required, must be a valid email address, and must exist in the \"users\" table.\n    \n- **`reset_url`**: Required and must be a valid URL.",
        "operationId": "forgotpassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "devuser123@wgh.com"
                  },
                  "reset_url": {
                    "type": "string",
                    "example": "https://localhost:3000"
                  }
                }
              },
              "examples": {
                "ForgotPassword": {
                  "value": {
                    "email": "devuser123@wgh.com",
                    "reset_url": "https://localhost:3000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ForgotPassword",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "253"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 10 Nov 2023 01:30:49 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string",
                          "example": "2023-11-09T19:21:35.000000Z"
                        },
                        "email": {
                          "type": "string",
                          "example": "devuser123@wgh.com"
                        },
                        "email_token": {
                          "nullable": true,
                          "example": null
                        },
                        "email_verified_at": {
                          "nullable": true,
                          "example": null
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Randomer"
                        },
                        "id": {
                          "type": "number",
                          "example": 1
                        },
                        "is_active": {
                          "type": "string",
                          "example": "1"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Test"
                        },
                        "phone_number": {
                          "type": "string",
                          "example": "+2348099111675"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2023-11-09T19:21:35.000000Z"
                        },
                        "username": {
                          "nullable": true,
                          "example": null
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "A password reset link has been sent to your email"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "ForgotPassword": {
                    "value": {
                      "code": "200",
                      "data": {
                        "created_at": "2023-11-09T19:21:35.000000Z",
                        "email": "devuser123@wgh.com",
                        "email_token": null,
                        "email_verified_at": null,
                        "first_name": "Randomer",
                        "id": 1,
                        "is_active": "1",
                        "last_name": "Test",
                        "phone_number": "+2348099111675",
                        "updated_at": "2023-11-09T19:21:35.000000Z",
                        "username": null
                      },
                      "message": "A password reset link has been sent to your email",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/refresh-token/4kG1XvC0": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "RefreashToken",
        "description": "This endpoint allows the user to refresh their authentication token.",
        "operationId": "refreashtoken",
        "responses": {
          "200": {
            "description": "RefreashToken",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "198"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 10 Nov 2023 01:28:10 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "58"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "array",
                          "items": {},
                          "example": []
                        },
                        "token": {
                          "type": "string",
                          "example": "IrvvUMoqCiGRpVwjYADFwT4dscehQ62HiBUrXGAre69080ef"
                        },
                        "token_expires": {
                          "type": "string",
                          "example": "2023-11-10T01:56:10.627213Z"
                        },
                        "token_refresh_code": {
                          "type": "string",
                          "example": "Fgo2ijpD"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Login successful"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "RefreashToken": {
                    "value": {
                      "code": "200",
                      "data": {
                        "role": [],
                        "token": "IrvvUMoqCiGRpVwjYADFwT4dscehQ62HiBUrXGAre69080ef",
                        "token_expires": "2023-11-10T01:56:10.627213Z",
                        "token_refresh_code": "Fgo2ijpD"
                      },
                      "message": "Login successful",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/verify-email": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "EmailVerification",
        "description": "EmailVerification",
        "operationId": "emailverification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "adebiyipelumi96@gmail.com"
                  },
                  "otp": {
                    "type": "string",
                    "example": "pMIuqlpK"
                  }
                }
              },
              "examples": {
                "EmailVerification": {
                  "value": {
                    "email": "adebiyipelumi96@gmail.com",
                    "otp": "pMIuqlpK"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EmailVerification",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "237"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 15 Nov 2023 18:22:34 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string",
                          "example": "2023-11-15T17:36:44.000000Z"
                        },
                        "email": {
                          "type": "string",
                          "example": "adebiyipelumi96@gmail.com"
                        },
                        "email_token": {
                          "nullable": true,
                          "example": null
                        },
                        "email_verified_at": {
                          "type": "string",
                          "example": "2023-11-15T18:22:34.000000Z"
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Pelumi"
                        },
                        "id": {
                          "type": "number",
                          "example": 9
                        },
                        "is_active": {
                          "type": "boolean",
                          "example": true
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Test"
                        },
                        "phone_number": {
                          "type": "string",
                          "example": "+2348092111640"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2023-11-15T18:22:34.000000Z"
                        },
                        "username": {
                          "nullable": true,
                          "example": null
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Email Verified"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "EmailVerification": {
                    "value": {
                      "code": "200",
                      "data": {
                        "created_at": "2023-11-15T17:36:44.000000Z",
                        "email": "adebiyipelumi96@gmail.com",
                        "email_token": null,
                        "email_verified_at": "2023-11-15T18:22:34.000000Z",
                        "first_name": "Pelumi",
                        "id": 9,
                        "is_active": true,
                        "last_name": "Test",
                        "phone_number": "+2348092111640",
                        "updated_at": "2023-11-15T18:22:34.000000Z",
                        "username": null
                      },
                      "message": "Email Verified",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/email-token/resend": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "ResendEmailVerificationToken",
        "description": "ResendEmailVerificationToken",
        "operationId": "resendemailverificationtoken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "adebiyipelumi96@gmail.com"
                  }
                }
              },
              "examples": {
                "ResendEmailVerificationToken": {
                  "value": {
                    "email": "adebiyipelumi96@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ResendEmailVerificationToken",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "302"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 16 Nov 2023 10:28:12 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "58"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string",
                          "example": "2023-11-16T07:05:07.000000Z"
                        },
                        "email": {
                          "type": "string",
                          "example": "adebiyipelumi96@gmail.com"
                        },
                        "email_token": {
                          "type": "string",
                          "example": "bjLRgOF2"
                        },
                        "email_verified_at": {
                          "type": "string",
                          "example": "2023-11-16T10:28:13.000000Z"
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Pelumi"
                        },
                        "id": {
                          "type": "number",
                          "example": 17
                        },
                        "is_active": {
                          "type": "string",
                          "example": "1"
                        },
                        "is_verified": {
                          "type": "string",
                          "example": "0"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Test"
                        },
                        "phone_number": {
                          "type": "string",
                          "example": "+2348092111640"
                        },
                        "uid": {
                          "type": "string",
                          "example": "ec03a5e8-9e25-4863-8bfb-ea62284867cb"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2023-11-16T10:28:13.000000Z"
                        },
                        "username": {
                          "nullable": true,
                          "example": null
                        },
                        "whmcs_id": {
                          "type": "string",
                          "example": "793"
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Email verification sent"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "ResendEmailVerificationToken": {
                    "value": {
                      "code": "200",
                      "data": {
                        "created_at": "2023-11-16T07:05:07.000000Z",
                        "email": "adebiyipelumi96@gmail.com",
                        "email_token": "bjLRgOF2",
                        "email_verified_at": "2023-11-16T10:28:13.000000Z",
                        "first_name": "Pelumi",
                        "id": 17,
                        "is_active": "1",
                        "is_verified": "0",
                        "last_name": "Test",
                        "phone_number": "+2348092111640",
                        "uid": "ec03a5e8-9e25-4863-8bfb-ea62284867cb",
                        "updated_at": "2023-11-16T10:28:13.000000Z",
                        "username": null,
                        "whmcs_id": "793"
                      },
                      "message": "Email verification sent",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/domain": {
      "get": {
        "tags": [
          "Client",
          "Orders",
          "Domains"
        ],
        "summary": "View",
        "description": "View",
        "operationId": "view",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v1/order/create": {
      "post": {
        "tags": [
          "Client",
          "Orders"
        ],
        "summary": "Create",
        "description": "Create",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_method": {
                    "type": "string",
                    "example": "paystack"
                  },
                  "redirect_url": {
                    "type": "string",
                    "example": "https://frontend.redirect"
                  }
                }
              },
              "examples": {
                "Create": {
                  "value": {
                    "payment_method": "paystack",
                    "redirect_url": "https://frontend.redirect"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 16 Nov 2023 14:49:12 GMT"
                }
              },
              "Host": {
                "schema": {
                  "type": "string",
                  "example": "127.0.0.1:8000"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.6"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "example": 1700
                        },
                        "paymentUrl": {
                          "type": "string",
                          "example": "https://checkout.paystack.com/him91tx85bh06il"
                        },
                        "status": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Create": {
                    "value": {
                      "code": "200",
                      "data": {
                        "amount": 1700,
                        "paymentUrl": "https://checkout.paystack.com/him91tx85bh06il",
                        "status": true
                      },
                      "message": "success",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment/verify": {
      "post": {
        "tags": [
          "Client",
          "Carts",
          "Payment"
        ],
        "summary": "VerifyPayment",
        "description": "VerifyPayment",
        "operationId": "verifypayment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_method": {
                    "type": "string",
                    "example": "paystack"
                  },
                  "reference": {
                    "type": "string",
                    "example": "wfpdr8bnps"
                  }
                }
              },
              "examples": {
                "VerifyPayment": {
                  "value": {
                    "payment_method": "paystack",
                    "reference": "wfpdr8bnps"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VerifyPayment",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "410"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 17 Nov 2023 05:36:28 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Authorization,Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "type": "object",
                          "properties": {
                            "after_balance": {
                              "nullable": true,
                              "example": null
                            },
                            "amount": {
                              "type": "string",
                              "example": "3400.00"
                            },
                            "before_balance": {
                              "nullable": true,
                              "example": null
                            },
                            "channel": {
                              "nullable": true,
                              "example": null
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2023-11-17T05:35:18.000000Z"
                            },
                            "currency": {
                              "type": "string",
                              "example": "NGN"
                            },
                            "deleted_at": {
                              "nullable": true,
                              "example": null
                            },
                            "gateway_reference": {
                              "type": "string",
                              "example": "wfpdr8bnps"
                            },
                            "id": {
                              "type": "number",
                              "example": 1
                            },
                            "initiated_at": {
                              "nullable": true,
                              "example": null
                            },
                            "ip_address": {
                              "nullable": true,
                              "example": null
                            },
                            "paid_at": {
                              "nullable": true,
                              "example": null
                            },
                            "payment_method": {
                              "type": "object",
                              "properties": {
                                "created_at": {
                                  "nullable": true,
                                  "example": null
                                },
                                "id": {
                                  "type": "number",
                                  "example": 2
                                },
                                "name": {
                                  "type": "string",
                                  "example": "paystack"
                                },
                                "priority": {
                                  "type": "string",
                                  "example": "medium"
                                },
                                "status": {
                                  "type": "string",
                                  "example": "active"
                                },
                                "uid": {
                                  "nullable": true,
                                  "example": null
                                },
                                "updated_at": {
                                  "nullable": true,
                                  "example": null
                                }
                              }
                            },
                            "payment_method_id": {
                              "type": "string",
                              "example": "2"
                            },
                            "reference": {
                              "type": "string",
                              "example": "088f383d48d5fb767eae7c28cd7fa66a"
                            },
                            "requery_count": {
                              "type": "number",
                              "example": 1
                            },
                            "status": {
                              "type": "string",
                              "example": "pending"
                            },
                            "type": {
                              "type": "string",
                              "example": "debit"
                            },
                            "uid": {
                              "type": "string",
                              "example": "94594d48-235a-4246-9929-0fdfead5dcf9"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2023-11-17T05:36:30.000000Z"
                            },
                            "user_id": {
                              "type": "string",
                              "example": "3"
                            },
                            "wallet_id": {
                              "type": "string",
                              "example": "1"
                            },
                            "whmcs_invoice": {
                              "nullable": true,
                              "example": null
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Paystack transaction verified!"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "VerifyPayment": {
                    "value": {
                      "code": "200",
                      "data": {
                        "transaction": {
                          "after_balance": null,
                          "amount": "3400.00",
                          "before_balance": null,
                          "channel": null,
                          "created_at": "2023-11-17T05:35:18.000000Z",
                          "currency": "NGN",
                          "deleted_at": null,
                          "gateway_reference": "wfpdr8bnps",
                          "id": 1,
                          "initiated_at": null,
                          "ip_address": null,
                          "paid_at": null,
                          "payment_method": {
                            "created_at": null,
                            "id": 2,
                            "name": "paystack",
                            "priority": "medium",
                            "status": "active",
                            "uid": null,
                            "updated_at": null
                          },
                          "payment_method_id": "2",
                          "reference": "088f383d48d5fb767eae7c28cd7fa66a",
                          "requery_count": 1,
                          "status": "pending",
                          "type": "debit",
                          "uid": "94594d48-235a-4246-9929-0fdfead5dcf9",
                          "updated_at": "2023-11-17T05:36:30.000000Z",
                          "user_id": "3",
                          "wallet_id": "1",
                          "whmcs_invoice": null
                        }
                      },
                      "message": "Paystack transaction verified!",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cart": {
      "get": {
        "tags": [
          "Client",
          "Carts"
        ],
        "summary": "View",
        "description": "This endpoint retrieves the content of the user's shopping cart.",
        "operationId": "view1",
        "responses": {
          "200": {
            "description": "View",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "237"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 14 Nov 2023 11:26:33 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Authorization,Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "domains": {
                          "type": "object",
                          "properties": {
                            "registeration": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "example": "domain registration"
                                },
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "action": {
                                        "type": "string",
                                        "example": "register"
                                      },
                                      "domain": {
                                        "type": "string",
                                        "example": "adroit1xtest.com"
                                      },
                                      "id": {
                                        "type": "number",
                                        "example": 1
                                      },
                                      "pricing": {
                                        "type": "object",
                                        "properties": {
                                          "register": {
                                            "type": "object",
                                            "properties": {
                                              "year_1": {
                                                "type": "string",
                                                "example": "1200.00"
                                              },
                                              "year_2": {
                                                "type": "string",
                                                "example": "3200.00"
                                              },
                                              "year_3": {
                                                "type": "string",
                                                "example": "4800.00"
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "domain"
                                      }
                                    }
                                  },
                                  "example": [
                                    {
                                      "action": "register",
                                      "domain": "adroit1xtest.com",
                                      "id": 1,
                                      "pricing": {
                                        "register": {
                                          "year_1": "1200.00",
                                          "year_2": "3200.00",
                                          "year_3": "4800.00"
                                        }
                                      },
                                      "type": "domain"
                                    },
                                    {
                                      "action": "register",
                                      "domain": "adroitmez.com",
                                      "id": 2,
                                      "pricing": {
                                        "register": {
                                          "year_1": "1700.00",
                                          "year_2": "3400.00",
                                          "year_3": "5100.00"
                                        }
                                      },
                                      "type": "domain"
                                    },
                                    {
                                      "action": "register",
                                      "domain": "adroitmez.com",
                                      "id": 3,
                                      "pricing": {
                                        "register": {
                                          "year_1": "1700.00",
                                          "year_2": "3400.00",
                                          "year_3": "5100.00"
                                        }
                                      },
                                      "type": "domain"
                                    },
                                    {
                                      "action": "register",
                                      "domain": "adroitmezje.com",
                                      "id": 4,
                                      "pricing": {
                                        "register": {
                                          "year_1": "1700.00",
                                          "year_2": "3400.00",
                                          "year_3": "5100.00"
                                        }
                                      },
                                      "type": "domain"
                                    },
                                    {
                                      "action": "register",
                                      "domain": "adroitng.com",
                                      "id": 5,
                                      "pricing": {
                                        "register": {
                                          "year_1": "1700.00",
                                          "year_2": "3400.00",
                                          "year_3": "5100.00"
                                        }
                                      },
                                      "type": "domain"
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Cart details!"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "View": {
                    "value": {
                      "code": "200",
                      "data": {
                        "domains": {
                          "registeration": {
                            "description": "domain registration",
                            "items": [
                              {
                                "action": "register",
                                "domain": "adroit1xtest.com",
                                "id": 1,
                                "pricing": {
                                  "register": {
                                    "year_1": "1200.00",
                                    "year_2": "3200.00",
                                    "year_3": "4800.00"
                                  }
                                },
                                "type": "domain"
                              },
                              {
                                "action": "register",
                                "domain": "adroitmez.com",
                                "id": 2,
                                "pricing": {
                                  "register": {
                                    "year_1": "1700.00",
                                    "year_2": "3400.00",
                                    "year_3": "5100.00"
                                  }
                                },
                                "type": "domain"
                              },
                              {
                                "action": "register",
                                "domain": "adroitmez.com",
                                "id": 3,
                                "pricing": {
                                  "register": {
                                    "year_1": "1700.00",
                                    "year_2": "3400.00",
                                    "year_3": "5100.00"
                                  }
                                },
                                "type": "domain"
                              },
                              {
                                "action": "register",
                                "domain": "adroitmezje.com",
                                "id": 4,
                                "pricing": {
                                  "register": {
                                    "year_1": "1700.00",
                                    "year_2": "3400.00",
                                    "year_3": "5100.00"
                                  }
                                },
                                "type": "domain"
                              },
                              {
                                "action": "register",
                                "domain": "adroitng.com",
                                "id": 5,
                                "pricing": {
                                  "register": {
                                    "year_1": "1700.00",
                                    "year_2": "3400.00",
                                    "year_3": "5100.00"
                                  }
                                },
                                "type": "domain"
                              }
                            ]
                          }
                        }
                      },
                      "message": "Cart details!",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Client",
          "Carts"
        ],
        "summary": "Add",
        "description": "Add",
        "operationId": "add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "example": "1700"
                  },
                  "domain": {
                    "type": "string",
                    "example": "boladedotgrt.com"
                  },
                  "domain_type": {
                    "type": "string",
                    "example": "register"
                  },
                  "quantity": {
                    "type": "number",
                    "example": 1
                  },
                  "type": {
                    "type": "string",
                    "example": "domain"
                  }
                }
              },
              "examples": {
                "Add": {
                  "value": {
                    "amount": "1700",
                    "domain": "boladedotgrt.com",
                    "domain_type": "register",
                    "quantity": 1,
                    "type": "domain"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Add",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "84"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 17 Nov 2023 07:24:43 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Authorization,Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Added to cart successfully!"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Add": {
                    "value": {
                      "code": "200",
                      "message": "Added to cart successfully!",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Client",
          "Carts"
        ],
        "summary": "Clear",
        "description": "Clear",
        "operationId": "clear",
        "responses": {
          "200": {
            "description": "Clear",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "89"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 16 Nov 2023 04:16:10 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Authorization,Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Cart items deleted successfully!"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Clear": {
                    "value": {
                      "code": "200",
                      "message": "Cart items deleted successfully!",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cart/35c854f4-06ab-4135-9610-a65f4b1e9e2e": {
      "delete": {
        "tags": [
          "Client",
          "Carts"
        ],
        "summary": "DeleteItem",
        "description": "DeleteItem",
        "operationId": "deleteitem",
        "responses": {
          "200": {
            "description": "DeleteItem",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "88"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 16 Nov 2023 04:02:57 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Authorization,Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Cart item deleted successfully!"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "DeleteItem": {
                    "value": {
                      "code": "200",
                      "message": "Cart item deleted successfully!",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cart/8c04c83f-7e07-46c9-986a-8136061f82ad": {
      "put": {
        "tags": [
          "Client",
          "Carts"
        ],
        "summary": "Edit",
        "description": "Edit",
        "operationId": "edit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "example": "3400"
                  },
                  "duration": {
                    "type": "number",
                    "example": 2
                  }
                }
              },
              "examples": {
                "Edit": {
                  "value": {
                    "amount": "3400",
                    "duration": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "88"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 17 Nov 2023 06:33:38 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Authorization,Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "58"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "message": {
                      "type": "string",
                      "example": "Cart item updated successfully!"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Edit": {
                    "value": {
                      "code": "200",
                      "message": "Cart item updated successfully!",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/user": {
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "GetUser",
        "description": "This endpoint retrieves information about the authenticated user.",
        "operationId": "getuser",
        "responses": {
          "200": {
            "description": "GetUser",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "239"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 10 Nov 2023 11:48:35 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Authorization,Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "59"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "string",
                          "example": "2023-11-09T19:21:35.000000Z"
                        },
                        "email": {
                          "type": "string",
                          "example": "devuser123@wgh.com"
                        },
                        "email_token": {
                          "nullable": true,
                          "example": null
                        },
                        "email_verified_at": {
                          "nullable": true,
                          "example": null
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Randomer"
                        },
                        "id": {
                          "type": "number",
                          "example": 1
                        },
                        "is_active": {
                          "type": "string",
                          "example": "1"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Test"
                        },
                        "phone_number": {
                          "type": "string",
                          "example": "+2348099111675"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2023-11-09T19:21:35.000000Z"
                        },
                        "username": {
                          "nullable": true,
                          "example": null
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "User data fetched successfully"
                    },
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "GetUser": {
                    "value": {
                      "code": "200",
                      "data": {
                        "created_at": "2023-11-09T19:21:35.000000Z",
                        "email": "devuser123@wgh.com",
                        "email_token": null,
                        "email_verified_at": null,
                        "first_name": "Randomer",
                        "id": 1,
                        "is_active": "1",
                        "last_name": "Test",
                        "phone_number": "+2348099111675",
                        "updated_at": "2023-11-09T19:21:35.000000Z",
                        "username": null
                      },
                      "message": "User data fetched successfully",
                      "status": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/domain/tlds": {
      "get": {
        "tags": [
          "Domains1"
        ],
        "summary": "GetTLDPrices",
        "description": "This endpoint retrieves a list of domain extensions available for registration, transfer, and renewal on the system (top-level domains).",
        "operationId": "gettldprices",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GetTLDPrices",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "200"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 10 Nov 2023 08:37:38 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Authorization,Accept-Encoding,User-Agent"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.2.11"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string",
                  "example": "58"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "200"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "domains": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "icon": {
                                "nullable": true,
                                "example": null
                              },
                              "id": {
                                "type": "number",
                                "example": 3
                              },
                              "pricing": {
[...]
